<nav class="navbar navbar-default bg-dark navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/home" class="navbar-brand">Home</a>
            <a routerLink="/meetings" class="navbar-brand">Meetings</a>
        </div>
        <div class="dropdown show">
            <a class="dropdown-toggle" style="cursor: pointer; color: white" role="button" id="dropdownMenuLink"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" style="cursor: pointer;">Settings</a>
                <a class="dropdown-item" style="cursor: pointer;">Log Out</a>
            </div>
        </div>
    </div>
</nav>
  